p {
    color: grey;
}
body {
    background: rgb(240, 221, 224);
}
section {
    background:  rgb(240, 221, 224)f;
}



h1 {
    color: palevioletred;
    background: white; 
}
h2 {
    color: white;
    background: palevioletred;
}
h3 {
    color: white;
    background: palevioletred;
}
#main-header {
    background: white;
}
#top {
    color: palevioletred;
}
#bottom {
    color: palevioletred;
}
.navigation {
    color: palevioletred;
}
a {
    color:white;
}
.common-link {
    color: grey;
}